.skills_list {
    padding-left: 17px;
}


.item_skils {
    color: #FB6D3A;

}


.text_item_skils {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;

}